[submodule "external/a-sabr-python"]
	path = external/a-sabr-python
	url = https://github.com/theotchlx/A-SABR-Python.git
[submodule "external/asabr-bdm"]
	path = external/asabr-bdm
	url = https://github.com/theotchlx/asabr_bdm.git
